/* MadCap Table Style: */

/*<meta sourceDocument="C:\Users\dspencer\Desktop\ExcelFiles\Marketing project plan1.xlsx" Version="9" />*/

mcTableStyle
{
	max-id: 1;
	name: Table1;
	background-color: #FFFFFF;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #FFFFFF;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #595959;
}

mcTableColumnStyle
{
	id: 1;
	name: Column1;
	separator-color: #FFFFFF;
	separator-style: Solid;
	separator-width: 1px;
}

mcTableHeadStyle
{
	name: Header1;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #595959;
}

mcTableBodyStyle
{
	id: 2;
	name: Body1;
	span: 1;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	separator-color: #FFFFFF;
	separator-style: solid;
	separator-width: 3px;
}

mcTableBodyStyle
{
	id: 1;
	name: Body2;
	span: 1;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	separator-color: #FFFFFF;
	separator-style: solid;
	separator-width: 3px;
}

mcTableFootStyle
{
	name: Footer1;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #595959;
}


/* Cell Styles: */
 
.TableStyle-Table1
{
	background-color: #FFFFFF;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #595959;
	border-bottom-width: 3px;
	border-spacing: 0px 0px;
}

.TableStyle-Table1-Column-Column1
{
	
}

.TableStyle-Table1-Head-Header1
{
	
}

.TableStyle-Table1-HeadI-Column1-Header1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-HeadI-Column1-Header1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-bottom-width: 3px;
	border-bottom-color: #595959;
	border-bottom-style: solid;
}

.TableStyle-Table1-HeadE-Column1-Header1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-HeadF-Column1-Header1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-bottom-width: 3px;
	border-bottom-color: #595959;
	border-bottom-style: solid;
}

.TableStyle-Table1-HeadF-Column1-Header1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-HeadH-Column1-Header1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-HeadD-Column1-Header1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-bottom-width: 3px;
	border-bottom-color: #595959;
	border-bottom-style: solid;
}

.TableStyle-Table1-HeadD-Column1-Header1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-HeadC-Column1-Header1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-HeadC-Column1-Header1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-HeadB-Column1-Header1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-HeadA-Column1-Header1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-HeadA-Column1-Header1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-HeadG-Column1-Header1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-HeadG-Column1-Header1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-Foot-Footer1
{
	
}

.TableStyle-Table1-FootI-Column1-Footer1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-FootI-Column1-Footer1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-top-width: 3px;
	border-top-color: #595959;
	border-top-style: solid;
}

.TableStyle-Table1-FootE-Column1-Footer1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-FootF-Column1-Footer1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-top-width: 3px;
	border-top-color: #595959;
	border-top-style: solid;
}

.TableStyle-Table1-FootF-Column1-Footer1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-FootH-Column1-Footer1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-FootD-Column1-Footer1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-top-width: 3px;
	border-top-color: #595959;
	border-top-style: solid;
}

.TableStyle-Table1-FootD-Column1-Footer1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-FootC-Column1-Footer1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-FootC-Column1-Footer1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-FootB-Column1-Footer1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-FootA-Column1-Footer1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-FootA-Column1-Footer1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-FootG-Column1-Footer1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-FootG-Column1-Footer1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-Body-Body1
{
	
}

.TableStyle-Table1-BodyI-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-BodyI-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyE-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-bottom-width: 3px;
	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
}

.TableStyle-Table1-BodyE-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyF-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-bottom-width: 3px;
	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
}

.TableStyle-Table1-BodyF-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyH-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
}

.TableStyle-Table1-BodyH-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyD-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-bottom-width: 3px;
	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
}

.TableStyle-Table1-BodyD-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyC-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-BodyC-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyB-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
}

.TableStyle-Table1-BodyB-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyA-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-BodyA-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyG-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-BodyG-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-Body-Body2
{
	
}

.TableStyle-Table1-BodyI-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-BodyI-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyE-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-bottom-width: 3px;
	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
}

.TableStyle-Table1-BodyE-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyF-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-bottom-width: 3px;
	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
}

.TableStyle-Table1-BodyF-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyH-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
}

.TableStyle-Table1-BodyH-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyD-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-bottom-width: 3px;
	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
}

.TableStyle-Table1-BodyD-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyC-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-BodyC-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyB-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	border-right-style: Solid;
}

.TableStyle-Table1-BodyB-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyA-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-BodyA-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}

.TableStyle-Table1-BodyG-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Table1-BodyG-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
}


